* {
  --light: #eee;
  --dark: #5c5c5c;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--dark);
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}


h1, p {
  color: var(--light);
}

.light {
  background-color: var(--light);
  color: var(--dark);
}

.light .container {
  background-color: #ccc;
  box-shadow: 0px 0px 5px rgb(80, 80, 80);

}

.light p, .light h2, .light h1 {
  color: #262626;
}

.light svg path, .light svg circle {
  stroke: #23c4ff;
}